:root {
	--back1: #daf5dc;
	--back2: #80c39c;
	--back3: #289672;
	--primary: rgb(252, 255, 225);
	--accent: #d4308d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
}

body {
	background-color: var(--back1);
	color: black;
}

.splash {
	background-image: url("../public/logo-green.png");
	height: 200px;
	background-position: center;
}


#title {
	font-family: "Zoika font", sans-serif;
	text-align: center;
	font-size: 2.2rem;
}

#logo {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 5px;
}

#logo__img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	height: 50px;
}

.bigRibbon {
	color: white;
	width: 100%;
	border-radius: 0;
	background-color: var(--back3);
	padding: 0.5rem 0;
}

.ribbon {
	width: 100%;
	border-radius: 0;
	background-color: var(--back2);
	padding: 0.2rem 0;
}

.bubble {
	margin: 1rem;
	border-radius: 1rem;
	border: 3px solid var(--back2);
}

.innerBubble {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--back2);
}

.lineFlex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.middleFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1rem;
	height: 2rem;
	font-size: 1.1rem;
	padding: 5px;
}

.centerText {
	text-align: center;
}

.columnFlex{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cardFlex {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}

.card {
	background-color: var(--primary);
	width: 90%;
	max-width: 400px;
	min-width: 300px;
	padding: 0.5rem;
}

div.card__button {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border: 2px solid var(--back2);
	border-radius: 1em;
}

div.notFavourite::after {
	display: block;
	content: "\2606";
	left: 50%;
	top: -7%;
	font-size: 1.5em;
	transform: translateX(-50%);
	position: absolute;
	color: var(--back2);
}

div.favourite::after {
	display: block;
	content: "\2605";
	left: 50%;
	top: -5%;
	font-size: 1.5em;
	transform: translateX(-50%);
	position: absolute;
	color: var(--accent);
}

.card__title {
	margin: 0 0.5rem;
	/* border: 1px solid black; */
}

.marginBelow {
	margin: 0 0 0.5rem 0;
}

article.favourite {
	box-shadow: 0px 5px 8px var(--back3);
	border-color: var(--accent);
}

.chefs {
	border-radius: 0 0 1rem 1rem;
	position: relative;
	padding: 0.5rem;
	transform: translateY(-16px);
}

a {
	color: var(--primary);
	text-decoration: none;
}

.press{
	display: inline-block;
}

.press:hover {
	transform: translateY(-1.5px);
	color: var(--accent);
}


.press:active{
	transform: none;
}

/*
.coolBeans {
	border: 2px solid currentColor;
	border-radius: 3rem;
	color: green;
	font-family: roboto;
	font-size: 1rem;
	font-weight: 100;
	overflow: hidden;
	position: relative;
	text-decoration: none;
  transition: .2s transform ease-in-out; 
	will-change: transform;
	z-index: 0;
}/*

.coolBeans::after {
	background-color: yellow;
	border-radius: 3rem;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-100%, 0) rotate(10deg);
	transform-origin: top left;
	transition: 0.2s transform ease-out;
	will-change: transform;
	z-index: -1;
}
.coolBeans:hover::after {
	transform: translate(0, 0);
}

.coolBeans:hover {
	border: 2px solid transparent;
	color: indigo;
	transform: scale(1.05);
	will-change: transform;
}

*/

.button {
	display: block;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--back3) 20%, var(--back3) 80%, rgba(0,0,0,0) 100%);
 	/* border-radius: 0.25rem; */
	border-style: none;
	color: var(--primary);
	padding: 0.2rem 1rem;
	text-decoration: none;
	font-weight: bold;
}

.button:hover {
	filter: contrast(200%);
	transform: translateY(-3px);
}

.button:active {
	transform: translateY(0);
}


.primary-text{
	color: var(--primary);
  }
  
  .accent-text{
	  color: var(--accent);
  }
  
  .white-text{
	  color: white;
	}

	form {
		text-align: center;
		line-height: 1.2rem;
	}

.submitButton	{
		margin: auto;

	}