body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  color: black;
  background-color: #C3E5AE;
}

.cardFlex {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.card {
  margin: 1rem;
  width: 300px
}

.nav{
  padding: 0.5rem;
}

.favourite{
  color: red;
  border-color: red;
}

h1{
  font-family: 'Zoika font', sans-serif;
  text-align: center;
}

nav{
  text-align: center;
  padding: 0.5rem;
}

form{
  margin: 1rem;
  text-align: center;
  border: black solid 1px;
  padding: 0.5rem;
  
}

hr{
  border-color: black;
}